.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    section {
        width: 100%;
    }

    .background {
        width: 22rem;
        height: 25rem;
        margin: 0 auto;
        background: url('/@/assets/404.png') center bottom no-repeat;
        background-size: contain;
    }

    .button {
        margin-top: 3rem;
        text-align: center;

        button {
            margin: 0 0.8rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    p {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 2.5rem;
        color: $primary;
        text-align: center;
    }
}
