.box {
    padding: 1rem;
}

.inputbox {
    margin-bottom: 5rem;
}

.bottom {
    text-align: center;

    .btn {
        width: 100%;
    }

    .link {
        display: inline-block;
        margin-top: 0.6rem;

        a {
            color: $primary;
        }
    }
}
