.search {
    padding: 0 1rem;
}

.form {
    position: sticky;
    top: 3rem;
    z-index: 10;
    padding: 1rem;
    margin: 0 -1rem 1rem;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
