.trunk { 
    background: repeating-linear-gradient(-55deg, #b7b7b7, #b7b7b7 4px, #ffffff 4px, #ffffff 6px);
    border-radius: 1rem;
    margin: 0 auto;
    padding: .5rem;
}

.content {
    border-radius: .8rem;
    background: #f2dad5;
    text-align: center;
    padding: 2.5rem .2rem 1rem .2rem;
    font-weight: bold;
    p {
        color: #cc3444;
        line-height: 2rem;
        font-size: 1rem;
    }
    button {
        margin: 1rem auto 0;
        padding: .5rem 1rem;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        background-color: #ff6258;
        background: linear-gradient(#ff6258, #ff9b72);
        border: .4rem solid #ffe5de;
        box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.3);
        text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border-radius: .3rem;
        letter-spacing: .1rem;
    }
}